[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 🤖 Object Detection using Tensorflow.js [Tutorial]
Type=Link
URL=https://nanonets.com/blog/object-detection-tensorflow-js/
Icon=text-html
